
<form action="/answer" data-turbo="false" class="form-inline">
  <input type="text" name="question" class="form-control mr-sm-2">
  <input type="submit" value="Ask!" class="btn btn-primary mt-3">
</form>
